---
import type { IElement, MDXInstance, Project } from "@/types";
import { getLocaleTime } from "@/util";
export interface Props extends IElement {
	project: MDXInstance<Project>;
	withDesc?: boolean;
}

const { project, as: Element = "div", withDesc = false } = Astro.props as Props;
const { publishDate } = project.frontmatter;
const date = new Date(publishDate);
const datetime = date.toISOString();
const postDate = getLocaleTime(date, { month: "short" });
---

<time datetime={datetime} class="min-w-[120px] text-gray-500">{postDate}</time>
<Element>
	<a href={project.url} class="inline-block cactus-link line-clamp-1">
		{project.frontmatter.title}
	</a>
</Element>
{
	withDesc && (
		<q class="line-clamp-3 block italic">{project.frontmatter.description}</q>
	)
}
